<!-- 

Color palett:
#90CA77, #81C6DD, #E9B64D, #E48743, #9E3B33

-->
<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  // Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<div class="gridster">
<ul>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="awsDay" data-view="Number" data-title="AWS Day Cost" data-moreinfo="" data-prefix="$" style="background-color:#FF9900;"></div>
    </li>
<li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="awsMonth" data-view="Number" data-title="AWS Month Cost" data-moreinfo="" data-prefix="$"style="background-color:#FF9900;"></div>
    </li>
<li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="awsYear" data-view="Number" data-title="AWS Year Cost" data-moreinfo="" data-prefix="$" style="background-color:#FF9900;"></div>
    </li>
	
	


<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="gcpDay" data-view="Number" data-title="GCP Day Cost" data-moreinfo="" data-prefix="$" style="background-color:#4385F5;"></div>
    </li>
<li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="gcpMonth" data-view="Number" data-title="GCP Month Cost" data-moreinfo="" data-prefix="$" style="background-color:#4385F5;"></div>
    </li>
<li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="gcpYear" data-view="Number" data-title="GCP Year Cost" data-moreinfo="" data-prefix="$" style="background-color:#4385F5;"></div>
    </li>
	
	
	
<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="azDay" data-view="Number" data-title="AZ Day Cost" data-moreinfo="" data-prefix="$" style="background-color:#00bcf2;"></div>
    </li>
<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="azMonth" data-view="Number" data-title="AZ Month Cost" data-moreinfo="" data-prefix="$" style="background-color:#00bcf2;"></div>
    </li>
<li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="azYear" data-view="Number" data-title="AZ Year Cost" data-moreinfo="" data-prefix="$" style="background-color:#00bcf2;"></div>
    </li>
	
	
	
<li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="doDay" data-view="Number" data-title="DO Day Cost" data-moreinfo="" data-prefix="$" style="background-color:#0f9df0;"></div>
    </li>
<li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="doMonth" data-view="Number" data-title="DO Month Cost" data-moreinfo="" data-prefix="$" style="background-color:#0f9df0;"></div>
    </li>
<li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="doYear" data-view="Number" data-title="DO Year Cost" data-moreinfo="" data-prefix="$" style="background-color:#0f9df0;"></div>
    </li>
	
	

<li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="ibmDay" data-view="Number" data-title="IBM Day Cost" data-moreinfo="" data-prefix="$" style="background-color:#00649D;"></div>
    </li>
<li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="ibmMonth" data-view="Number" data-title="IBM Month Cost" data-moreinfo="" data-prefix="$" style="background-color:#00649D;"></div>
    </li>
<li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="ibmYear" data-view="Number" data-title="IBM Year Cost" data-moreinfo="" data-prefix="$" style="background-color:#00649D;"></div>
    </li>

    

</ul>
</div>
